/*Página*/

html { 
    /*Fondo*/
    background-color: #c2c2c221;

    /*Fuente*/
    text-align: center;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #383838;
    line-height: 1.5;
    font-weight: 300;
}

#Seccion_resultados{ /* Section Oculta donde muestro el resultado */

    display:none; 

    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px 15px 20px 20px;
    border-radius: 4px;
    margin-top: .4rem;
}

form {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    margin-top: .4rem;
    padding-top: 15px;
}

.container { /* Div contenedor con los dos inputs */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Elementos */

label {
    text-align: center;
    line-height: 0.9!important;
    margin: 1% 3% 0% 3%;
}


input[type="text"]{
    width: 98%;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #979797;
    background-color: #ffffff;
    font-size: 18px;
}

button {
    display: inline-block;
    vertical-align: middle;

    background-color: #00c3f8;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin: 0px 1em 0em 1em;
    width: 160px;

    /*Texto*/
    font-size: .9375rem;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 35pt;
    color: #000;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

u {
    color: #00c3f8
}
