/*Título H1*/
h1 {
    font-size: 35pt;
    color: #1100f4;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

html {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    text-align: center;
    background-color: #c2c2c2;
    font-family: 'Montserrat';
    font-size: 16px;
}

#Seccion_resultados{
    display:none;
    padding-top: 15px;
    margin-top: 2%;
    border-color: black;
    border: solid;
    height: 130px;
    background: white;
}

form {
    background: white;
    padding: 30px;
}


button {
    padding: 7px;
    background: black;
    border-radius: 8px 8px 8px 8px;
    border-color: pink;
    border: 5px;
    color: white;
    font-family: 'Montserrat';
    font-size: 13px;
}